<div xmlns:th="http://www.thymeleaf.org" th:fragment="detalleProduccionModal"
     class="modal fade" id="detalleProduccionModal" tabindex="-1"
     aria-labelledby="detalleProduccionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detalleProduccionModalLabel">Insumos Utilizados en la Producción</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <p><strong>Lote:</strong> <span id="loteNombreDisplay"></span></p>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Materia Prima</th>
                        <th>Cantidad Requerida</th>
                        <th>Unidad de Medida</th>
                    </tr>
                    </thead>
                    <tbody id="detalleProduccionBody">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>