<div xmlns:th="http://www.thymeleaf.org" th:fragment="modalConsultas"
     class="modal fade" id="filtroAvanzadoModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Filtros Avanzados</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">

                <!-- búsqueda rápida independiente dentro del modal -->
                <input id="buscarRapidoModal" class="form-control mb-3" placeholder="Buscar...">

                <!-- botones dinámicos por columna -->
                <div id="botonesColumnas" class="mb-3"></div>

                <!-- contenedor de acordeones -->
                <div class="accordion" id="accordionFiltros"></div>

            </div>
        </div>
    </div>
</div>
