@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500');


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Georgia', serif;
}

html {
    height: 100%;
}

.grid-container {
    display: grid;
    position: absolute;
    min-height: 100vh;
    width: 100%;
    max-width: 100vw;
    grid-template:
        "particulas-iframe-container" 1fr
        "mesa" auto
        / auto;
    background-color: #341906;
}

.particulas-iframe-container {
    grid-area: particulas-iframe-container;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.particulas-fondo-react {
    width: 100%;
    height: 100%;
    border: none;
}

.contenido {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        "h1"
        "p-1"
        "p-2"
        "boton-inicio";
    position: absolute;
    background-color: #000000b3;
    border-radius: 10px;
    padding: 10px;
    z-index: 1000;
}

.contenido>* {
    margin: 10px;
}

.contenido>h1 {
    grid-area: h1;
    color: #fff;
    font-size: 30px;
    font-size: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.contenido>.p-1 {
    grid-area: p-1;
    color: rgb(199, 152, 76);
    font-size: 18px;
    text-align: center;
}

.contenido>.p-2 {
    grid-area: p-2;
    color: rgb(199, 152, 76);
    font-size: 18px;
    text-align: center;
}

.contenido>.p-2>a {
    color: rgb(199, 152, 76);
}

.contenido>.p-2>a:hover {
    color: rgb(133, 101, 50);
}

.mesa {
    grid-area: mesa;
    position: relative;
    background-color: transparent;
    display: flex;
    justify-content: center;
}

.mesa::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(#341906, #562c0d);
    z-index: 0;
}

.mesa > img {
    position: relative;
    height: 100%;
    max-width: 20%;
    z-index: 1;
}

.boton-inicio{
    /* Keep existing styles */
    margin: 15px auto; /* Center button horizontally */
    width: 100px;
    padding: 10px 15px;
    border: 1px solid #bc5515;
    border-radius: 100px;
    font-weight: 400;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    letter-spacing : 2px;
    font-size: 11px;

    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.boton-inicio:hover{
    background-color: #bc5515;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0px 20px 20px rgba(0,0,0,0.1);
}


@keyframes movimiento-comida{
    100% { -webkit-transform: translate(-160px, -160px); transform:translate(-160px, -160px); }
}
@keyframes rotacion-comida{
    100% { -webkit-transform: rotate(-600deg); transform:rotate(-600deg); }
}

.box_croissant{
    z-index: 110 !important;
    position: absolute;
    top: 40%;
    right: 0%;
    will-change: transform;
    animation: movimiento-comida 50s infinite linear both alternate;
}

.box_croissant{
    z-index: 110 !important;
    position: absolute;
    top: 40%;
    left: 0%;
    will-change: transform;
    animation: movimiento-comida 50s infinite linear both alternate;
}

.img_croissant{
    animation: rotacion-comida 200s infinite linear both alternate;
}

.box_galleta-completa{
    z-index: 110 !important;
    position: absolute;
    bottom: 0%;
    left: 30%;
    will-change: transform;
    animation: movimiento-comida 50s infinite linear both alternate;
}

.img_galleta-completa{
    animation: rotacion-comida 200s infinite linear both alternate;
}

.box_galleta-mordida{
    z-index: 110 !important;
    position: absolute;
    top: 0%;
    right: 30%;
    will-change: transform;
    animation: movimiento-comida 50s infinite linear both alternate;
}

.img_galleta-mordida{
    animation: rotacion-comida 200s infinite linear both alternate;
}