:root {
    --primary-color: #341906;
    --secondary-color: #6c6b6b;
    --tertiary-color: rgb(199, 152, 76);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Georgia', serif;
}

html {
    height: 100%;
}

.logo-container {
    height: 100%;
}

.logo {
    display: block;
    max-height: 100px;
    width: auto;
}

.grid-container>* {
    background-color: var(--tertiary-color);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto 1fr;
    min-height: 100vh;
    width: 100%;
    max-width: 100vw;
    grid-template-areas:
        "header"
        "article"
        "main";
    background-color: var(--primary-color);
}

/*Asignar las áreas a los elementos*/
header {
    grid-area: header;
}

article {
    grid-area: article;
}

main {
    grid-area: main;
}

.sub-grid-container>* {
    margin: 10px;
}

.sub-grid-container {
    display: grid;
    gap: 2px;
    /*Espacio entre las celdas de la subgrid*/
    grid-template-columns:
        "h1" auto
        "h3" auto
        "p-1" auto
        "pagina_inicio" auto
        "p-2" auto
        "busqueda" 1fr
        / 40%;
}

.sub-grid-container>h1 {
    grid-area: h1;
    color: var(--primary-color);
    font-family: 'Georgia', serif;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: start;
}

.sub-grid-container>h3 {
    grid-area: h3;
    color: var(--primary-color);
    font-size: 30px;
    text-align: start;
}

.sub-grid-container>.p-1 {
    grid-area: p-1;
    color: black;
    font-size: 25px;
    text-align: start;
}

.sub-grid-container > a > button {
    grid-area: pagina_inicio;
    min-width: 100%;
    background-color: var(--primary-color) !important;
    border: solid 3px black !important;
    font-family: 'Georgia', serif !important;
    font-weight: bold !important;
    font-size: 16px;

}

.sub-grid-container > a > button:hover {
    background-color: transparent !important;
    border: solid 3px var(--primary-color) !important;
    box-shadow: 0 8px 30px rgba(86, 43, 11, 0.633);
    color: var(--primary-color) !important;
}

.sub-grid-container > a {
    text-decoration: none !important;
}

.sub-grid-container>.p-2 {
    grid-area: p-2;
    color: black;
    font-size: 25px;
    text-align: start;
}

.sub-grid-container>#busqueda {
    grid-area: busqueda;
}

.sub-grid-container>#busqueda>.container-fluid>.d-flex>.input-buscar {
    color: var(--primary-color) !important;
    border: solid 2px var(--primary-color) !important;
    max-width: auto;
}

.sub-grid-container>#busqueda>.container-fluid>.d-flex>.input-buscar:hover {
    color: #3e2005 !important;
    background-color: rgb(255, 247, 240) !important;
    box-shadow:  0 8px 30px rgba(86, 43, 11, 0.633);
}

.sub-grid-container>#busqueda>.container-fluid>.d-flex>.boton-buscar {
    color: var(--primary-color) !important;
    background-color: transparent !important;
    border: solid 2px var(--primary-color) !important;
    border-radius: 20px; /* Corregido para incluir 'px' */
    width: 200px;
}

.sub-grid-container>#busqueda>.container-fluid>.d-flex>.boton-buscar:hover {
    color: var(--tertiary-color) !important;
    background-color: var(--primary-color) !important;
    box-shadow:  0 8px 30px rgba(86, 43, 11, 0.633);
}

.sub-grid-container>#busqueda>.container-fluid {
    display: block !important;
}

/*RESPONSIVE PARA MÓVIL-TABLET*/
@media (min-width: 0px) and (max-width: 900px) {
    .grid-container {
        grid-template:
            "header header" 100px
            "main main" auto
            "article article" auto
            / 1fr auto;
    }

    article>img {
        max-width: 100%;
        max-height: 100%;
    }

    .sub-grid-container {
        grid-template:
            "h1" auto
            "h3" auto
            "p-1" auto
            "pagina_inicio" auto
            "p-2" auto
            "busqueda" auto
            / 1fr;
    }

    .sub-grid-container>h1, h3, .p-1, button, .p-2, #busqueda {
        display: flex;
        justify-content: center;
        max-width: 100%;
        max-height: 100%;
        text-align: center;
    }
}

/*RESPONSIVE PARA PC*/
@media (min-width: 901px) {
    .grid-container {
        grid-template:
            "header header" auto
            "article main" auto
            / auto auto;
    }

    article>img {
        max-width: 100%;
        max-height: 100%;
    }

    .sub-grid-container {
        grid-template:
            "h1 h1" auto
            "h3 h3" auto
            "p-1 p-1" auto
            "pagina_inicio pagina_inicio" auto
            "p-2 p-2" auto
            "busqueda busqueda" 1fr
            / 1fr 1fr;
    }

    .sub-grid-container>h1, h3, .p-1, button, .p-2, #busqueda {
        max-width: 100%;
        max-height: 100%;
    }
}