* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', 
  sans-serif;
}

body,
input {
  font-family: 'Work Sans', 
  sans-serif;
}

#Mensaje-Login-error{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    padding: 0.7rem 0.7rem;
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 20px;
    color: #d2c8c8;
    background-color: #341906;
}

#mensaje-resultado{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    padding: 0.7rem 0.7rem;
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 20px;
}

/*--------------------------------------------------------------------- 游 ENCABEZADO ---------------------------------------------------------------------------*/
#SELECCIONAR-LOGIN-ROL{
    display: flex;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.5rem;
    z-index: 100;
    background-color: #863d0c;
    border-bottom: 1px solid #341906;
}

/*EMPLEADO NO SELECCIONADO*/
#SELECCIONAR-LOGIN-ROL > .empleado{
    display: flex;
    position: relative;
    justify-content: end;
    text-align: center;
    width: 100%;
    padding: 0.3rem 1rem 0.3rem 0.3rem;
    background-color: rgba(255, 255, 255, 0.256);
    border-right: 1px solid #a65e37;
}

#SELECCIONAR-LOGIN-ROL > .empleado > span{
    color: #fff;
    margin: 1rem 1rem;
    font-weight: 500;
}

#SELECCIONAR-LOGIN-ROL > .empleado > button > a{
    color: #fff;
    text-decoration: none;
}



/*EMPLEADO SELECCIONADO*/
#SELECCIONAR-LOGIN-ROL > .empleado-seleccionado{
    display: flex;
    position: relative;
    justify-content: end;
    text-align: center;
    width: 100%;
    padding: 0.3rem 1rem 0.3rem 0.3rem;
    background-color: #0000009b;
    border-right: 1px solid #341906;
}

#SELECCIONAR-LOGIN-ROL > .empleado-seleccionado > span{
    color: #fff;
    margin: 1rem 1rem;
}

#SELECCIONAR-LOGIN-ROL > .empleado-seleccionado > button > a{
    color: #fff;
    text-decoration: none;
}

#SELECCIONAR-LOGIN-ROL > .empleado-seleccionado > .btn.transparent{
    background-color: #6e350c;
    border: 2px solid rgb(0, 0, 0);
    transform: translateY(2px);/*baja ligeramente el boton*/
    transition: 0.2s;
}


/*CLIENTE NO SELECCIONADO*/
#SELECCIONAR-LOGIN-ROL > .cliente{
    display: flex;
    position: relative;
    justify-content: start;
    text-align: center;
    width: 100%;
    padding: 0.3rem 1rem 0.3rem 0.3rem;
    background-color: rgba(255, 255, 255, 0.256);
    border-right: 1px solid #A63754;
}

#SELECCIONAR-LOGIN-ROL > .cliente > span{
    color: #fff;
    margin: 1rem 1rem;
    font-weight: 500;
}

#SELECCIONAR-LOGIN-ROL > .cliente > button > a{
    color: #fff;
    text-decoration: none;
}

/*CLIENTE SELECCIONADO*/
#SELECCIONAR-LOGIN-ROL > .cliente-seleccionado{
    display: flex;
    position: relative;
    justify-content: start;
    text-align: center;
    width: 100%;
    padding: 0.3rem 1rem 0.3rem 0.3rem;
    background-color: #9e570a9b;
    border-right: 1px solid #A63754;
}

#SELECCIONAR-LOGIN-ROL > .cliente-seleccionado > span{
    color: #fff;
    margin: 1rem 1rem;
}

#SELECCIONAR-LOGIN-ROL > .cliente-seleccionado > button > a{
    color: #fff;
    text-decoration: none;
}

#SELECCIONAR-LOGIN-ROL > .cliente-seleccionado > .btn.transparent{
    background-color: #b0460d;
    border: 3px solid #A63754;
    transform: translateY(2px);/*baja ligeramente el boton*/
    transition: 0.2s;
}

/*--------------------------------------------------------------------- 游끠 ENCABEZADO ---------------------------------------------------------------------------*/

/*--------------------------------------------------------------------- 游 CONTENIDO ---------------------------------------------------------------------------*/
.container {
    position: relative;
    width: 100%;
    background-color: #341906;
    min-height: 100vh;
    overflow: hidden;
  }

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.container-login {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.sign-in-form{
    background-color: rgba(255, 255, 255, 0.256);
    max-width: 35rem;
    margin-left: 3.5rem;
    border-radius: 50px;
}

.sign-up-form{
    background-color: rgba(255, 255, 255, 0.256);
    max-width: 35rem;
    margin-left: 3rem;
    border-radius: 50px;
}

.title {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 10px;
}


/*BLOQUE DEL INPUT: ICONO + INPUT*/
.input-field {
  max-width: 380px;
  width: 100%;
  height: 4.5rem !important;
  background-color: #f0f0f0;
  margin: 10px 0;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  position: relative;
}

/*ICONOS EN INPUTS*/
#icon_1-candado,#icon_2-candado{
  text-align: center;
  line-height: 55px;
  margin-left: auto;
}

.input-field > input{
  background: none;
  outline: 0;
  border-radius: 0 50px 50px 0;
  font-weight: 500;
  font-size: 1.2rem;
  color: #333;
  transition: 0.5s;
}

.input-field input::placeholder{
  color: #000000;
  font-weight: 500;
}

.input-field > input:hover{
  background-color: #93BBBF;
  transition: 0.5s;
}


.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.social-media {
  display: flex;
  justify-content: center;
  margin: 1rem 1rem;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #fff;
  border-radius: 50%;
  border: 1px solid #fff;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-icon:hover {
  color: #A63754;
  border-color: #A63754;
}

/*--------------------------------------------------------------------- 游 BOTONES ---------------------------------------------------------------------------*/
.btn {
  width: 150px;
  background-color: #592b0b;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9s;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover{
  background-color: #341906;
  border: 2px solid black;
  transform: translateY(2px);
  transition: 0.3s;
}

.btn.transparent{
    margin: 0;
    background: transparent;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.9rem;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.767);
    transition: 0.2s;
  }
  
.btn.transparent:hover{
    background-color: #341906;
    border: 2px solid black;
    transform: translateY(2px);/*baja ligeramente el boton*/
    transition: 0.2s;
}
/*--------------------------------------------------------------------- 游끠 BOTONES ---------------------------------------------------------------------------*/

.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 50%;/*posiciona la esfera*/
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #341906 0%, #ac7045 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;/*se hace una esfera pero se muestra s칩lo la parte de abajo*/
  z-index: 6;
}

.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 10% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 2.5rem;
}

.panel p {
  font-size: 1.1rem;
  padding: 1rem;
}

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

/* ANIMATION */

.container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container.sign-up-mode .container-login {
  left: 25%;
}

.container.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.container.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
}
/*--------------------------------------------------------------------- 游끠 CONTENIDO ---------------------------------------------------------------------------*/

/*--------------------------------------------------------------------- 游 RESPONSIVE ---------------------------------------------------------------------------*/
@media (max-width: 870px) {

    #SELECCIONAR-LOGIN-ROL > .empleado > span{
        color: #fff;
        margin: 0 0;
        font-weight: 500;
    }

    #SELECCIONAR-LOGIN-ROL > .cliente > span{
        color: #fff;
        margin: 0 0;
        font-weight: 500;
    }

    #SELECCIONAR-LOGIN-ROL > .empleado-seleccionado > span{
        color: #fff;
        margin: 0 0;
        font-weight: 500;
    }

    #SELECCIONAR-LOGIN-ROL > .cliente-seleccionado > span{
        color: #fff;
        margin: 0 0;
        font-weight: 500;
    }


    .container {
        min-height: 800px;
        height: 100vh;
    }

    .sign-in-form{
        margin: 0;
    }

    .sign-up-form{
        margin: 0;
    }

    .container-login {
        width: 100%;
        top: 95%;
        transform: translate(-50%, -100%);
        transition: 1s 0.8s ease-in-out;
    }

    .container-login,
    .container.sign-up-mode .container-login {
        left: 50%;
    }

    .panels-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }

    .panel {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem 8%;
        grid-column: 1 / 2;
    }

    .right-panel {
        grid-row: 3 / 4;
    }

    .left-panel {
        grid-row: 1 / 2;
    }

    .image {
        width: 250px;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.6s;
    }

    .panel .content {
        padding-right: 5%;/*distancia entre el texto y la imagen cuando la interfaz de la p치gina es m치s peque침a*/
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.8s;
    }

    .panel h3 {
        font-size: 1.6rem;
    }

    .panel p {
        font-size: 1rem;
        padding: 0.5rem 0;
    }

    .btn.transparent {
        width: 110px;
        height: 35px;
        font-size: 0.7rem;
    }

    .container:before {
        width: 1500px;
        height: 1500px;
        transform: translateX(-50%);
        left: 30%;
        bottom: 68%;
        right: initial;
        top: initial;
        transition: 2s ease-in-out;
    }

    .container.sign-up-mode:before {
        transform: translate(-50%, 100%);
        bottom: 32%;
        right: initial;
    }

    .container.sign-up-mode .left-panel .image,
    .container.sign-up-mode .left-panel .content {
        transform: translateY(-300px);
    }

    .container.sign-up-mode .right-panel .image,
    .container.sign-up-mode .right-panel .content {
        transform: translateY(0px);
    }

    .right-panel .image,
    .right-panel .content {
        transform: translateY(300px);
    }

    .container.sign-up-mode .container-login {
        top: 5%;
        transform: translate(-50%, 0);
    }
    }

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;/*quito las imagenes cuando la interfaz de la p치gina sea realmente muy peque침a*/
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .container {
    padding: 1.5rem;
  }

  .container:before {
    bottom: 72%;
    left: 50%;
  }

  .container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}
/*--------------------------------------------------------------------- 游끠 RESPONSIVE ---------------------------------------------------------------------------*/