<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 500</title>
    <link rel="stylesheet" th:href="@{/css/error500.css}">
</head>

<body class="grid-container">
<main class="particulas-iframe-container">
    <iframe
            th:src="@{/particulas-react/index.html}"
            class="particulas-fondo-react"
            onload="this.style.visibility='visible';"
            style="visibility:hidden;"
    >
    </iframe>

    <div class="box_croissant">
        <img class="img_croissant" th:src="@{/images/error500/CROISSANT.png}" width="80px">
    </div>
    <div class="box_croissant-2">
        <img class="img_croissant" th:src="@{/images/error500/CROISSANT.png}" width="80px">
    </div>
    <div class="box_galleta-completa">
        <img class="img_galleta-completa" th:src="@{/images/error500/GALLETA_COMPLETA.png}" width="80px">
    </div>
    <div class="box_galleta-mordida">
        <img class="img_galleta-mordida" th:src="@{/images/error500/GALLETA_MORDIDA.png}" width="80px">
    </div>
    <div class="contenido">
        <h1>500 Internal Server Error</h1>
        <p class="p-1">El servidor está experimentando un problema técnico. Se encontró un error inesperado que impidió realizar la solicitud.</p>
        <p class="p-2">Si persiste el problema comuniquese con el
            <a href="contacto.html">administrador del servidor</a> o
            <a href="javascript:location.reload();" class="button-link">reintente</a> más tarde.
        </p>
        <a th:href="@{/}" class="boton-inicio">Ir al Inicio</a>
    </div>
</main>
<section class="mesa">
    <img th:src="@{/images/error500/taza-cafe.png}" alt="taza">
</section>
</body>

</html>